











/* GRID discography!*/
#containerGrid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas: 
        "secfirstgrid secfirstgrid secfirstgrid secsecondgrid secsecondgrid secsecondgrid"
        "elMadrilenioFrameSt elMadrilenioFrameSt elMadrilenioFrameSt firstStatsNumbers secondStatsNumbers thirdStatsNumbers"
        "albumIdolo albumIdolo albumIdolo idoloFrameSt idoloFrameSt idoloFrameSt"
    ;
    row-gap: 100px;
    column-gap: 20px;
    align-items: center;
    margin-top: 22px;
}

#secFirstGrid{
    grid-area: secfirstgrid;
    padding: 0px 20px;
}

#secSecondGrid{
    grid-area: secsecondgrid;
}

#secSecondGrid img{
    width: 100%;
}

#elMadrilenioFrameSt{
    grid-area: elMadrilenioFrameSt;
    padding: 0px 20px;
}

#firstStatsNumbers{
    grid-area: firstStatsNumbers;
    text-align: center;
}

#secondStatsNumbers{
    grid-area: secondStatsNumbers;
    text-align: center;
}

#thirdStatsNumbers{
    grid-area: thirdStatsNumbers;
    text-align: center;
}

#albumIdolo{
    grid-area: albumIdolo;
    padding: 0px 20px;
}

#idoloFrameSt{
    grid-area: idoloFrameSt;
}

.popular-albums{
    margin: 25px 0px 80px 0px;
}

.madrilenio-album-txt{
    margin-top: 30px;
}





/* SECCION HISTORY*/
#historyContGridBoos{
    padding: 0px 8px;
}

.row h1{
    margin-top: 50px;
}

#history-info{
    padding: 0px 40px;
    margin-top: 50px;
}

#cont-history-text{
    display: flex;
    column-gap: 30px;
    margin-bottom: 20px;
}

#ctanganaWCat{
    width: 100%;
    margin-bottom: 20px;
}

table{
    width: 60vw;
    margin: auto;
}

table tr th{
    padding: 30px 30px;
    height: 70px;
}

.year-history{
    font-size: 38px;
    font-weight: 800;
}

.table-txt-history{
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}










/* MEDIA QUERIES ABAJO */

/* MEDIA QUERIES "a mano"*/
@media (max-width:480px){
    #titleMain{
        font-size: 64px;
    }
    h1{
        font-size: 45px;
    }
    h2{
        font-size: 38px;
    }
    .main-text{
        font-size: 30px;
    }
    #aboutTheArtist{
        column-gap: unset;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    .simple-text{
        font-size: 16px;
    }
    .ctangana-yacht {
        margin-top: unset;
    }
    .top-hits-imgs{
        flex-wrap: wrap;
        padding: unset;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .cont-top-hits{
        margin-bottom: 35px;
    }
    .border-img-tophits{
        width: 100%;
    }
    .txt-img-top-hits{
        font-size: 26px;
    }
    .quotes-text{
        width: unset;
        font-size: 26px;
    }
    #containerGrid{
        grid-template-areas: 
            "secfirstgrid secfirstgrid secfirstgrid secfirstgrid secfirstgrid secfirstgrid"
            "secsecondgrid secsecondgrid secsecondgrid secsecondgrid secsecondgrid secsecondgrid"
            "elMadrilenioFrameSt elMadrilenioFrameSt elMadrilenioFrameSt elMadrilenioFrameSt elMadrilenioFrameSt elMadrilenioFrameSt"
            "firstStatsNumbers firstStatsNumbers firstStatsNumbers firstStatsNumbers firstStatsNumbers firstStatsNumbers"
            "secondStatsNumbers secondStatsNumbers secondStatsNumbers secondStatsNumbers secondStatsNumbers secondStatsNumbers"
            "thirdStatsNumbers thirdStatsNumbers thirdStatsNumbers thirdStatsNumbers thirdStatsNumbers thirdStatsNumbers"
            "albumIdolo albumIdolo albumIdolo albumIdolo albumIdolo albumIdolo"
            "idoloFrameSt idoloFrameSt idoloFrameSt idoloFrameSt idoloFrameSt idoloFrameSt"
        ;
        margin-top: 15px;
        row-gap: 20px;
        column-gap: unset;
    }
    #secFirstGrid{
        padding: 0px 20px;
    }
    #secSecondGrid {
        margin-bottom: 30px;
    }
    .popular-albums {
        margin: 25px 0px 25px 0px;
    }
    .madrilenio-album-txt {
        margin-top: 15px;
    }
    #elMadrilenioFrameSt iframe{
        width: 100%;
        height: 75vh;
    }
    #elMadrilenioFrameSt{
        margin-bottom: 20px;
        padding: 0px 20px;
    }
    #albumIdolo{
        margin-top: 18px;
        padding: 0px 20px;
    }
    #idoloFrameSt iframe{
        width: 100%;
        height: 75vh;
        padding: 0px 20px;
    }
    #titlePhotoGallery{
        margin: 40px 0px 30px 20px;
    }
    table{
        width: 100vw;
    }
    table tr{
        display: flex;
        flex-wrap: wrap;
        padding: 0px 20px;
        justify-content: center;
    }
    table tr th {
        padding: unset;
        height: unset;
    }
    .year-history{
        width: 70vw;
        text-align: center;
    }
    .table-txt-history{
        margin-top: 20px;
        text-align: center;
    }
    table tr .year-history{
        margin-top: 25px;
    }
    #historyContGridBoos{
        margin-top: 40px;
        padding: 0px 8px;
    }
    .row h1{
        margin-top: unset;
    }
    #newinShopTitle{
        margin: 40px 0px 0px 20px;
    }
    .products-container{
        flex-direction: column;
    }
    .imgs-shop{
        width: 100%;
    }
    .products-shop{
        width: unset;
    }
    #contactUs{
        flex-direction: column;
        margin-top: 40px;
    }
    #contactUsMainInfo {
        width: 100%;
    }
    #contForm{
        width: 100%;
    }
    footer{
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        font-size: 18px;
    }
}