#historyContGridBoos{
    padding: 0px 8px;
    .row h1{
        margin-top: 50px;
    }
}

#ctanganaWCat{
    width: 100%;
    margin-bottom: 20px;
}

table{
    width: 60vw;
    margin: auto;
    tr th{
        padding: 30px 30px;
        height: 70px;
    }
    .year-history{
        font-size: 38px;
        font-weight: 800;
    }
    .table-txt-history{
        font-size: 18px;
        font-weight: 400;
        text-align: left;
    }
}


