#homeMain{
    background-image: url("../resources/images/ctangana-imgprincipal-home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    background-position: center;
    display: flex;
}

#aboutTheArtist{
    margin-top: 80px;
    display: flex;
    padding: 0px 20px;
    column-gap: 110px;
    .ctangana-yacht{
        margin-top: 20px;
        width: 100%;
        @include media-query-mobile(){
            margin-top: unset;
        }
    }
    @include media-query-mobile(){
        column-gap: unset;
        flex-wrap: wrap;
        margin-top: 50px;
    }
}

#topHits{
    margin-top: 60px;
    padding: 0px 20px;
    .top-hits-imgs{
        margin-bottom: 80px;
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: 0px 200px;
        @include media-query-mobile(){
            flex-wrap: wrap;
            padding: unset;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        .cont-top-hits{
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            @include media-query-mobile(){
                margin-bottom: 35px;
            }
            &:hover .txt-img-top-hits{
                visibility: visible;
            }
            .border-img-tophits{
                border: 2px dashed $primary-color;
            }
            .txt-img-top-hits{
                font-size: 36px;
                font-weight: 900;
                text-transform: uppercase;
                text-align: center;
                position: absolute;
                top: 0px;
                left: 0px;
                background-color: rgba(173,28,28,0.3);
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: end;
                color: $secondary-color;
                visibility: hidden;
                @include media-query-mobile(){
                    font-size: 26px;
                }
                .txt-img-top-hits-margin{
                    margin-bottom: 51px;
                }
            }
        }
    }
}
