body{
    width: 100vw;
    overflow-x: hidden;
    background-color: #FAF5EB;
    color: $third-color !important;
    font-family: 'Work Sans', sans-serif;
    .bg-body-tertiary{
        background-color: $third-color !important;
    }
}

