/*FOOTER*/
footer{
    margin-top: 90px;
    display: flex;
    align-items: center;
    color: white;
    background-color: black;
    padding: 30px 50px;
    font-size: 20px;
    justify-content: space-between;
    @include media-query-mobile(){
        flex-direction: column;
        text-align: center;
        margin-top: 50px;
        font-size: 18px;
    }
    #socialMediaIconsCont{
        display: flex;
        align-items: center;
        .socialmedia-icons{
                margin: 0px 10px;
        }
    }
}


